body
{
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}